# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	# name = 
	# email =
[alias]
	a = add
	br = branch
	ch = checkout
	c = commit -m
	cl = clone
	s = status
	p = push
	pl = pull
	unstage = reset HEAD --
	last = log -1 HEAD
	discard = checkout --
